$white: #fff;
$black: #292217;
$bg-color: #fafafa;
$dark-grey: #414a4d;
$darker-grey: #373d3f;
$peach-color: rgb(238, 195, 119);
$peach-darker-color: rgb(237, 189, 108);

$radius-sm: 5px;

$btn-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
$product-shadow: 0px 6px 48px rgba(0, 0, 0, 0.032);

Link {
  text-decoration: none;
}
