.page-shop {
  overflow-x: hidden;
  width: 100vw;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0 5rem;

  .categories-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .category {
      list-style: none;
      background-color: rgb(255, 255, 255);
      width: 160px;
      height: 120px;
      text-align: center;
      line-height: 120px;
      border-radius: $radius-sm;
      transition: box-shadow 0.4s;

      &:hover {
        cursor: pointer;
        box-shadow: $product-shadow;
      }
    }
  }
}

.product-feed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}

.arrow {
  position: absolute;
  z-index: 10;
  top: 160px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
  box-shadow: $btn-shadow;

  transition: transform 0.3s;

  &.arrow-left {
    left: 0;
  }

  &.arrow-right {
    left: 78vw;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.product-card {
  position: relative;
  display: flex;
  right: 0;
  flex-direction: row;
  position: relative;
  flex-direction: column;
  width: 42vw;
  justify-self: center;
  border-radius: 0.5rem;
  margin: 1rem 1rem 1rem 0;

  &:hover {
    cursor: pointer;

    .card-img {
      img {
        transform: scale(1.22);
      }
      box-shadow: $product-shadow;
    }

    .card-details {
      .buttons {
        display: flex;
      }
    }
  }

  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background-color: #fff;
    border-radius: 18px;
    transition: box-shadow 0.5s;

    img {
      max-width: 100%;
      max-height: 120px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .card-details {
    padding: 0.5rem;
    height: 120px;

    .product-card-attributes {
      .product-title {
        font-size: 1rem;
      }
      .product-price {
        font-size: 0.9rem;
        margin: 0.5rem 0;
      }
    }

    .buttons {
      position: absolute;
      top: 85%;
      right: 1rem;
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .product-qty {
        display: flex;
        flex-direction: row;
        .qty-btn {
          width: 22px;
          height: 2rem;
          background-color: $white;
          text-align: center;
          color: $peach-darker-color;
          line-height: 2rem;

          &:hover {
            cursor: pointer;
          }

          &.left {
            border-top-left-radius: $radius-sm;
            border-bottom-left-radius: $radius-sm;
          }

          &.right {
            border-top-right-radius: $radius-sm;
            border-bottom-right-radius: $radius-sm;
          }
        }

        .qty-input {
          border: none;
          color: $peach-darker-color;
          text-align: center;
          width: 50px;
          height: 2rem;
        }
      }

      .add-to-cart-btn {
        background-color: $peach-color;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: $radius-sm;
        box-shadow: $btn-shadow;
        margin-left: 1rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
