Link {
  text-decoration: none;
}

.page-home {
  position: relative;
}

.splash {
  position: relative;
  top: -5vh;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.splash-text {
  position: relative;
  top: -5vh;
  left: 7vw;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 200px;
  color: #9ecad8;
}
.splash-text h1,
.splash-text span {
  text-shadow: 2px 2px 6px #373d3f;
}
.splash-text h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.splash-text span {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.splash-img {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/src/img/flower-close.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

.page-shop {
  overflow-x: hidden;
  width: 100vw;
}
.page-shop header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  text-align: center;
}
.page-shop main {
  display: flex;
  flex-direction: column;
}
.page-shop .categories {
  display: flex;
  flex-direction: row;
  width: calc(100vw);
  margin: 1rem 0 5rem;
  padding: 2rem 7vw;
}
.page-shop .categories .categories-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.page-shop .categories .categories-list .category {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: white;
  width: 10vw;
  height: 80px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #393022;
  transition: color 0.4s, border 0.4s;
}
.page-shop .categories .categories-list .category:hover {
  cursor: pointer;
  color: #edbd6c;
}
@media (max-width: 1025px) {
  .page-shop .categories .categories-list .category {
    width: 13vw;
  }
}
@media (max-width: 768px) {
  .page-shop .categories .categories-list .category {
    width: 16vw;
    height: 60px;
    font-size: 0.8rem;
  }
}
@media (max-width: 545px) {
  .page-shop .categories .categories-list .category {
    width: 18vw;
  }
}
@media (max-width: 545px) {
  .page-shop .categories {
    display: none;
  }
}
.page-shop .product-card {
  position: relative;
  display: flex;
  right: 0;
  flex-direction: row;
  position: relative;
  flex-direction: column;
  justify-self: center;
  border-radius: 0.5rem;
  margin: 1rem 6vw 1rem 0;
  transition: right 0.3s;
}
.page-shop .product-card:hover {
  cursor: pointer;
}
.page-shop .product-card:hover .card-img {
  box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.032);
  border: 1px solid #393022;
}
.page-shop .product-card:hover .card-img img {
  transform: scale(1.22);
}
.page-shop .product-card:hover .card-details .buttons {
  display: flex;
}
.page-shop .product-card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  background-color: #fff;
  border-radius: 18px;
  transition: box-shadow 0.5s;
}
.page-shop .product-card .card-img img {
  max-width: 72%;
  max-height: 180px;
  transition: transform 0.3s ease-in-out;
}
.page-shop .product-card .card-details {
  padding: 0.5rem;
  height: 120px;
}
.page-shop .product-card .card-details .product-card-attributes .product-title {
  font-size: 1rem;
}
.page-shop .product-card .card-details .product-card-attributes .product-price {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.page-shop .product-card .card-details .buttons {
  position: absolute;
  top: 95%;
  right: 1rem;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.page-shop .product-card .card-details .buttons .add-to-cart {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
.page-shop .product-card .card-details .buttons .add-to-cart:hover {
  cursor: pointer;
}

.slider-container {
  background-color: #f3f1ea;
  padding: 12vh 7vw 6vh;
}
.slider-container:nth-of-type(2) {
  background-color: #eaf1f3;
}
.slider-container:nth-of-type(3) {
  background-color: #f3f1ea;
}
.slider-container:nth-of-type(4) {
  background-color: #eaf1f3;
}
.slider-container:nth-of-type(5) {
  background-color: #f3f1ea;
}
.slider-container .product-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}
.slider-container .slider-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.slider-container .slider-title h2 {
  font-size: 2rem;
}
.slider-container .slider-title .slider-item-count {
  margin-left: 0.5rem;
}
.slider-container .arrow {
  position: absolute;
  z-index: 10;
  top: 160px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
  transition: transform 0.3s;
}
.slider-container .arrow.arrow-left {
  left: 0rem;
}
.slider-container .arrow.arrow-right {
  left: calc(100vw - 21vw);
}
.slider-container .arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 545px) {
  .slider-container .arrow.arrow-right {
    left: calc(100vw - 28vw);
  }
}

.test {
  position: absolute;
  left: 0;
  color: red;
}

.page-cart {
  overflow-x: hidden;
  width: 100vw;
}
.page-cart header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  text-align: center;
}
.page-cart main {
  padding-left: 7vw;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.page-cart main .cart-contentse {
  width: 74vw;
}
.page-cart main .cart-contentse .product-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  margin-bottom: 4rem;
}
.page-cart main .cart-contentse .product-card .card-img {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.page-cart main .cart-contentse .product-card .card-img img {
  width: 80px;
}
.page-cart main .cart-contentse .product-card:hover .card-img img {
  transform: scale(1);
}
.page-cart main .cart-summary {
  width: 46vw;
  height: 100vh;
  background-color: #c0d4da;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #393022;
  letter-spacing: 2px;
}

.sticky-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 0 7vw;
  transition: top 0.5s ease-in-out;
  box-shadow: 2px 0px 8px #0000001b;
}
.sticky-nav.hidden {
  top: -10vh;
}
.sticky-nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
.sticky-nav .nav-links li {
  list-style: none;
  text-decoration: none;
}
.sticky-nav .link {
  color: #393022;
  letter-spacing: 2px;
}
.sticky-nav .link:hover {
  cursor: pointer;
}
.sticky-nav .cart-icon {
  position: relative;
  z-index: 10;
  font-size: 1.1rem;
}
.sticky-nav .cart-icon .circle {
  position: absolute;
  z-index: -1;
  top: -50%;
  left: 100%;
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 1.8rem;
  text-align: center;
}

.page {
  width: 100%;
  margin-top: 10vh;
}

.btn {
  width: fit-content;
  background-color: #eec377;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
  letter-spacing: 2px;
}
.btn.btn-lg {
  padding: 1rem 2rem;
}
.btn:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  list-style: none;
}

.icon {
  font-size: 1.3rem;
}

.product-qty {
  display: flex;
  flex-direction: row;
}
.product-qty .qty-btn {
  width: 22px;
  height: 2.2rem;
  background-color: #fff;
  text-align: center;
  color: #edbd6c;
  line-height: 2rem;
  border: 1px solid #fff;
  transition: border 0.3s;
}
.product-qty .qty-btn:hover {
  cursor: pointer;
  border: 1px solid #393022;
}
.product-qty .qty-btn.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product-qty .qty-btn.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-qty .qty-input {
  border: none;
  color: #edbd6c;
  text-align: center;
  width: 50px;
  height: 2.2rem;
}

@media (max-width: 768px) {
  .product-qty .qty-btn {
    font-size: 0.9rem;
  }
  .product-qty .qty-input {
    width: 30px;
  }
}
.container {
  padding-left: 7vw;
  padding-right: 7vw;
}

/*# sourceMappingURL=style.css.map */
