Link {
  text-decoration: none;
}

.splash {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.splash-text {
  position: relative;
  top: -15vh;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 200px;
}
.splash-text h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.splash-text span {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.page-shop {
  overflow-x: hidden;
  width: 100vw;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0 5rem;
}
.categories .categories-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.categories .categories-list .category {
  list-style: none;
  background-color: white;
  width: 160px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border-radius: 5px;
  transition: box-shadow 0.4s;
}
.categories .categories-list .category:hover {
  cursor: pointer;
  box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.032);
}

.product-feed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}

.arrow {
  position: absolute;
  z-index: 10;
  top: 160px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
  transition: transform 0.3s;
}
.arrow.arrow-left {
  left: 0;
}
.arrow.arrow-right {
  left: 78vw;
}
.arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.product-card {
  position: relative;
  display: flex;
  right: 0;
  flex-direction: row;
  position: relative;
  flex-direction: column;
  width: 42vw;
  justify-self: center;
  border-radius: 0.5rem;
  margin: 1rem 1rem 1rem 0;
}
.product-card:hover {
  cursor: pointer;
}
.product-card:hover .card-img {
  box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.032);
}
.product-card:hover .card-img img {
  transform: scale(1.22);
}
.product-card:hover .card-details .buttons {
  display: flex;
}
.product-card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;
  background-color: #fff;
  border-radius: 18px;
  transition: box-shadow 0.5s;
}
.product-card .card-img img {
  max-width: 100%;
  max-height: 120px;
  transition: transform 0.3s ease-in-out;
}
.product-card .card-details {
  padding: 0.5rem;
  height: 120px;
}
.product-card .card-details .product-card-attributes .product-title {
  font-size: 1rem;
}
.product-card .card-details .product-card-attributes .product-price {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.product-card .card-details .buttons {
  position: absolute;
  top: 85%;
  right: 1rem;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.product-card .card-details .buttons .product-qty {
  display: flex;
  flex-direction: row;
}
.product-card .card-details .buttons .product-qty .qty-btn {
  width: 22px;
  height: 2rem;
  background-color: #fff;
  text-align: center;
  color: #edbd6c;
  line-height: 2rem;
}
.product-card .card-details .buttons .product-qty .qty-btn:hover {
  cursor: pointer;
}
.product-card .card-details .buttons .product-qty .qty-btn.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product-card .card-details .buttons .product-qty .qty-btn.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-card .card-details .buttons .product-qty .qty-input {
  border: none;
  color: #edbd6c;
  text-align: center;
  width: 50px;
  height: 2rem;
}
.product-card .card-details .buttons .add-to-cart-btn {
  background-color: #eec377;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
  margin-left: 1rem;
}
.product-card .card-details .buttons .add-to-cart-btn:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f9fc;
}

.sticky-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #f2f9fc;
  padding: 0 5rem;
  transition: top 0.5s ease-in-out;
}
.sticky-nav.hidden {
  top: -10vh;
}
.sticky-nav .logo .link {
  text-decoration: none;
}
.sticky-nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.sticky-nav .nav-links li {
  list-style: none;
  text-decoration: none;
}
.sticky-nav .nav-links li .link {
  text-decoration: none;
}
.sticky-nav .cart-icon {
  position: relative;
  z-index: 10;
  font-size: 1.1rem;
}
.sticky-nav .cart-icon .circle {
  position: absolute;
  z-index: -1;
  top: -50%;
  left: 100%;
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 1.8rem;
  text-align: center;
}

.page {
  width: 100%;
  padding: 0 5rem;
  margin-top: 10vh;
}

.btn {
  width: fit-content;
  background-color: #eec377;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.75rem 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.084);
}
.btn:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  list-style: none;
}

.icon {
  font-size: 1.3rem;
}

.credit {
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

/*# sourceMappingURL=style.css.map */
